@import './mixin.scss';

.p-home {
  min-height: 100vh;
  display: grid;
  align-items: center;
  background-color: var(--first-gradient);
  background-image: var(--first-gradient);
}

.c-home__container {
  width: 100%;
  position: relative;
}

.c-home__subtitle,
.c-home__job {
  font-weight: 700;
  span {
    color: var(--primary-color);
  }
}

.c-home__subtitle {
  span {
    color: var(--primary-color);
  }
}

.c-home__subtitle,
.c-home__job span {
  font-size: var(--small-size);
}

.c-home__job b {
  font-family: var(--soft-font);
  font-size: var(--h2-font-size);
  font-weight: 400;
  margin-left: 10px;
}

.c-home__title {
  font-size: var(--biggest-font-size);
  text-shadow: 2px 2px hsl(0, 0%, 0%), -2px 2px hsl(0, 0%, 0%),
    2px -2px hsl(0, 0%, 0%), -2px -2px hsl(0, 0%, 0%),
    5px 5px 0 rgba(0, 0, 0, 0.2);
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: var(--soft-font);
  span {
    color: var(--primary-color);
  }
}

.c-home__text {
  font-size: var(--large-size);
  margin: 12px 0 30px;
  max-width: 520px;
}

.c-home__socials {
  @include inline;
  gap: 0 20px;
  margin-bottom: 20px;
  .c-home__social-link {
    color: var(--title-color);
    font-size: var(--h5-font-size);
    transition: all 0.3s var(--transition1);
    &:hover {
      color: var(--primary-color);
    }
  }
}

.c-home__btns {
  .c-home__btn {
    color: var(--title-color);
    font-size: var(--tiny-font-size);
    font-weight: 700;
    letter-spacing: 0.05em;
    height: 54px;
    max-width: max-content;
    @include inline;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--border-color);
    padding-inline: 38px;
    border-radius: 54px;
    box-shadow: var(--shadow);
    position: relative;
    transition: all 0.7s var(--transition1);
    z-index: 2;
    &::before {
      content: '';
      position: absolute;
      inset: 2px;
      border-radius: inherit;
      background-color: var(--primary-color);
      transform: scale(0.3);
      filter: blur(10px);
      opacity: 0;
      transition: all 0.7s var(--transition1);
      z-index: -1;
    }
    &:hover {
      opacity: 1;
      &::before {
        transform: scale(1);
        filter: blur(0);
        opacity: 1;
      }
    }
  }
}

.c-home__img--wrapper {
  position: absolute;
  top: 0;
  right: 12px;
  width: 100%;
  max-width: 500px;
  z-index: 1;
  .c-home__banner {
    background-color: var(--primary-color);
    padding-bottom: 100%;
    border-radius: 46% 54% 70% 30% / 30% 68% 32% 70%;
    .c-profile__img {
      position: absolute;
      bottom: 0;
      height: 120%;
      object-fit: cover;
      border-radius: 40% 11% 63% 27%/43% 58% 33% 71%;
    }
  }
  .c-shape {
    z-index: -1;
  }
}

.c-home__data {
  position: absolute;
  border-radius: 82px;
  background-color: var(--container-color);
  box-shadow: var(--shadow2);
  border: 2px solid var(--border-color);
  padding: 18px;
  width: 250px;
  height: 82px;
  @include inline;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  font-family: var(--soft-font);
  &-one {
    bottom: 20%;
    left: -4%;
    width: 82px;
    .c-text-lg {
      transform: translate(2px, -2px);
      font-size: 3.7rem;
    }
  }
  &-two {
    @include inline;
    bottom: 6%;
    right: -6%;
    > img {
      width: 45px;
      height: 45px;
      margin-right: 8px;
    }
    .c-text-lg {
      font-size: 2rem;
      line-height: 1.3;
      transform: translateY(-2px);
      > span {
        color: var(--primary-color);
      }
    }
  }
  .c-text-lg {
    b {
      transform: translateY(-20px);
      color: var(--primary-color);
      display: inline-block;
      font-size: 1.8rem;
    }
  }
}

.c-shape-one {
  width: 200px;
  height: 200px;
  top: -9%;
  right: -5%;
}
.c-shape-two {
  width: 137px;
  height: 141px;
  bottom: 9%;
  left: -15%;
}
.c-shape-three {
  width: 135px;
  height: 135px;
  bottom: -9%;
  right: -6%;
}
