// main.scss
@import './mixin.scss';

/* layout
------------------------------------------------------------*/
body {
  font-size: 1.4rem;
  line-height: 1.5;
  font-family: var(--body-font);
  background-color: var(--bg-color);
  @include sp {
    min-width: 320px;
  }
}

//-------------------------------------------------------
.l-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  @include tab {
    padding: 0 2.5%;
  }
  @include sp {
    padding: 0 2%;
  }
}

.l-container2 {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
}

.u-text-cs {
  letter-spacing: 0.05em;
}

.c-shape {
  position: absolute;
  filter: invert(1);
  opacity: 0.6;
}

section{
  padding-bottom: 220px;
}


.c-title1{
  font-size: var(--h1-font-size);
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

.c-title1__sub{
  color: var(--primary-color);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: var(--h5-font-size);
  letter-spacing: 1px;
  span{
    font-family: var(--third-font);
    color: var(--title-color);
    text-transform: capitalize;
    font-size: 1.8rem;
    transform: translateY(-2px);
    display: inline-block;
  }
}



.light-theme {

    .c-nav__logo{
      img{
        filter: unset;
      }
    }
}

//-------------------------------------------------------
