// main.scss
@import './mixin.scss';

/* layout
------------------------------------------------------------*/
body {
  font-size: 1.4rem;
  line-height: 1.5;
  font-family: var(--body-font);
  background-color: var(--bg-color);
}

//-------------------------------------------------------

main{
  overflow: hidden;
}




.l-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  @include large{
    padding: 0 6%;
  }
  @include tab {
    padding: 0 5%;
  }
  @include sp {
    padding: 0 4%;
  }
}

.l-container2 {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
}

.u-text-cs {
  letter-spacing: 0.05em;
}

.c-shape {
  position: absolute;
  filter: invert(1);
  opacity: 0.6;
}

section{
  padding-bottom: 220px;
  position: relative;
  @include tab{
    padding-bottom: 170px;
  }
  @include minitab{
    padding-bottom: 150px;
  }
  @include sp{
    padding-bottom: 120px;
  }
  @include mobile{
    padding-bottom: 100px;
  }
}


.c-title1{
  font-size: var(--h1-font-size);
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  @include tab{
    font-size: 3.7rem;
    letter-spacing: 0;
  }
  @include mobile{
    font-size: 3.4rem;
  }
}

.c-title1__sub{
  color: var(--primary-color);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: var(--h5-font-size);
  letter-spacing: 1px;
  span{
    font-family: var(--third-font);
    color: var(--title-color);
    text-transform: capitalize;
    font-size: 1.8rem;
    transform: translateY(-2px);
    display: inline-block;
  }
}



.section__deco{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 70%;
    background-color: var(--border-color);
    z-index: 1;
    @include sp{
      display: none;
    }
    &.section__deco2{
      height: 85%;
    }
    &::before,&::after{
      content: "";
      position: absolute;
      left: 50%;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: var(--bg-color);
      border: 2px solid var(--border-color);
      box-shadow: var(--shadow);
      @include tab2{
        width: 25px;
        height: 25px;

      }
      @include tab{
        width: 22px;
        height: 22px;
      }
    }
    &::before{
      top: 0;
      transform: translate(-50%, -100%);
    }
    &::after{
      bottom: 0;
      transform: translate(-50%, 100%);
    }
    .shape{
      max-width: 180px;
      height: 180px;
      bottom: -149px;
      position: absolute;
      filter: invert(1);
      @include tab2{
        max-width: 110px;
        height: 110px;
        bottom: -120px;
      }
    }
}


.deco__left{
  left: 3%;
  @include tab{
    left: 2.5%;
  }
  .shape{
    left: -144px;
    @include tab2{
        left: -78px;
    }
  }
}

.deco__right{
  right: 3%;
  .shape{
    right: -144px;
  }
}


.c-nav__menu{
  position: relative;
  overflow: hidden;
  .section__deco{
    left: 8%;
  }
}



.light-theme {

    .c-nav__logo{
      img{
        filter: unset;
      }
    }
    .c-shape {
      filter: unset;
    }

    .section__deco{
        .shape{
          filter: unset;
        }
    }

    .c-works__list > li .c-works__left .c-works__time {
        color: #fff;
    }

    .c-about__title1 span::before {
        left: 0;
        transform: unset;
        background-color: hsla(350, 100%, 61%, 0.726);
      
    }
}














//-------------------------------------------------------
