@import './mixin.scss';

.c-projects{
    padding-top: 110px;
    background-color: var(--second-gradient);
    background-image: var(--second-gradient);
    .l-container{
        max-width: 1200px;
    }
}

.c-project__list{
     > li{
        + li{
            margin-top: 45px;
        }
        .c-project__brand{
            @include inline;
            align-items: center;
            .c-project__top{
                filter: drop-shadow(0 0 1px var(--title-color));
                &.c-project__top1{
                    width: 160px;
                }
                &.c-project__top2{
                    width: 300px;
                    margin-right: 15px;
                }
                &.c-project__top3{
                    width: 110px;
                    margin-right: 15px;
                }
            }
            .c-projecttop__title{
                font-size: 2.3rem;
                font-family: var(--fourth-font);
                font-weight: 700;
                text-shadow: 0px 0px 1px #fff;
                &.c-projecttop__title1{
                    color: #b4882a;
                }
                &.c-projecttop__title2{
                    color: #0c92e5;
                    text-shadow: unset;

                }
                &.c-projecttop__title3{
                    text-shadow: unset;
                    color: var(--primary-color);
                }
            }
        }    
    }
}


.c-project__list2{
    margin-top: 20px;
    padding: 0 4%;
    .c-project__item2{
        +.c-project__item2{
            margin-top: 40px;
        }
        .c-proitem2__title{
            
            @include inline;
            align-items: center;
            span{
                @include inline;
                align-items: center;
                font-size: 2rem;
                color: var(--primary-color);
                margin-right: 5px;
                &.c-span1{
                    color: #b4882a;
                }
            }
            h5{
                font-weight: 700;
                font-family: var(--third-font);
                text-align: justify;
                font-size: 2.6rem;
            }
        }
        .c-proitem2__row{
            @include inline;
            align-items: center;
            font-size: 2rem;
            font-weight: 500;
            padding-left: 26px;
            margin-top: 5px;
            font-style: italic;
            .c-proitem2__uses1{
                font-weight: 500;
            }
            .c-proitem2__programs{
                margin-left: 13px;
                @include inline;
                gap: 5px;
                span{
                    letter-spacing: 0.2px;
                    font-size: 1.7rem;
                    border: 1px solid var(--title-color);
                    padding: 2px 10px 2px 8px;
                    border-radius: 16px;
                }
            }
        }
    }
    .swiper-wrapper{
        margin-bottom: 35px;
    }

    .swiper-pagination-bullets {
        width: auto;
        position: relative;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);        
        &::before{
            position: absolute;
            content: "";
            height: 2px;
            width: 98%;
            background-color: var(--title-color);
            left: 50%;
            top: 47%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }

    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
        border: 2px solid var(--title-color);
        background-color: var(--container-color);
        z-index: 1;
        position: unset;
        opacity: 1;
        margin: 0;
        width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 11px));
        height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 11px));
        @include trans1;
    }
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child){
        margin-right: 20px;
    }
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active{
        width: 13px;
        height: 13px;
        background-color: #b4882a;
        transform: translateY(1px);
    }
}


.c-banner__list{
    margin-top: 25px;
    .c-banner__item{
        background-color: #b4882a;
        padding: 13px;
        border-radius: 19px;
        img{
            border-radius: 9px;
        }
    }
}

.c-project__webs{
    @include inline;
    margin-top: 12px;
    padding: 0 5%;
    .c-prowebs__left{
        flex-shrink: 0;
        font-size: 1.7rem;
        font-weight: 500;
    }
    .c-prowebs__list{
        flex: 1;
        padding-left: 5%;
        font-weight: 500;
        li{
            @include inline;
            + li{
                margin-top: 14px;
            }
            a{  
                border: 2px solid #b4882a;   
                @include trans1; 
                padding: 5px 3% 5px 4%;
                font-size: 1.75rem;
                border-radius: 20px;
                @include inline;
                span{
                    font-size: 1.8rem;
                    @include inline;
                    @include trans1;
                    align-items: center;
                    margin-left: 6px;
                    transform: translateY(-1px);
                }
                &:hover{
                    background-color: #b4882a;
                    color: var(--title-color);
                    opacity: 1;
                }
            }
        }
    }
}

.c-videos__list{
    @include inline;
    margin-top: 25px;
    justify-content: center;
    gap: 35px;
    .c-video__item{
        width: 31.6%;
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        border-radius: 25px;
        height: 0;
        box-shadow: 0 0 6px rgb(255 255 255 / 50%);
        iframe{
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }
    }
}


.c-google__excel{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin-top: 30px;
    border: 5px solid #b4882a;
    border-radius: 12px;
    &.c-google__excel2{
        border-color: #0c92e5;
    }
    &.c-google__excel3{
        background-color: #fff;
        @include inline;
        justify-content: center;
        .c18.doc-content{
            margin: 0 auto;
        }
        .c18{
            margin: 0 auto !important;
        }
    }
    #doc-title .name{
        color: #b4882a;
        font-weight: 700;
    }
    @include sp{
        padding-bottom: 90%;
    }
    iframe{
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
    }
}

.c-other__container{
    padding: 0 5%;
      .swiper-wrapper{
        margin-bottom: 35px;
    }

 

        .swiper-slide {
        display: flex;
        flex-direction: column;
        height: auto; /* This ensures that the height of each slide adjusts to its content */
        }


    .swiper-pagination-bullets {
        width: auto;
        position: relative;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);        
        &::before{
            position: absolute;
            content: "";
            height: 2px;
            width: 98%;
            background-color: var(--title-color);
            left: 50%;
            top: 47%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }

    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
        border: 2px solid var(--title-color);
        background-color: var(--container-color);
        z-index: 1;
        position: unset;
        opacity: 1;
        margin: 0;
        width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 11px));
        height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 11px));
        @include trans1;
    }
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child){
        margin-right: 20px;
    }
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active{
        width: 13px;
        height: 13px;
        background-color: var(--primary-color);
        transform: translateY(1px);
    }
}

.c-others__slider{
    margin-top: 25px;
    .c-others__item{
        @include inline;
        flex-direction: column;
        border-radius: 25px;
        overflow: hidden;
        height: 100%;
        .c-others__image{
            position: relative;
            > img{
                object-fit: cover;
                aspect-ratio: 163 / 150;
                flex-shrink: 0;
            }
            .c-others__logo{
                position: absolute;
                background-color: rgba($color: #fff, $alpha: 0.75);
                padding: 5px;
                border-radius: 13px;
                right: 3%;
                bottom: 3%;
                width: 100px;
                &.c-others__logo1{
                    width: 100px;
                }
                &.c-others__logo2{
                    width: 90px;
                }
                &.c-others__logo3{
                    width: 130px;
                }
                &.c-others__logo4{
                    width: 140px;
                    padding: 6px 13px;
                }
            }
        }
        .c-others__bottom{
            background-color: var(--container-color);
            padding: 10px 15px 14px;
            // margin-top: auto;
            flex: 1;
            .c-othersbottom__name{
                font-size: 2rem;
                font-weight: 500;
            }
            .c-othersbottom__desc{
                text-align: justify;
            }
            .c-link{
                margin-left: auto;
                margin-top: 6px;
                width: max-content;
                border: 2px solid var(--title-color);
                @include inline;
                align-items: center;
                justify-content: center;
                gap: 4px;
                padding: 3px 11px 4px;
                border-radius: 22px;
                @include trans1;
                &:hover{
                    background-color: var(--title-color);
                    opacity: 1;
                    color: var(--black-color);
                }
                .c-link__txt{
                    font-size: 1.6rem;
                    font-weight: 500;
                }   
                .c-link__icon{
                    @include inline;
                    align-items: center;
                    font-size: 1.5rem;
                } 
            }
        }
    }
    
}


.custom-iframe{
    
}