@import './mixin.scss';


.c-services{
    padding-top: 70px;
    

}

.c-service__container.l-container{
    max-width: 1200px;
    margin-top: 50px;
}

.c-about1__row1{
    @include inline;
    justify-content: space-between;
    align-items: center;
    .c-about1__avatar{
        width: 45%;
        @include inline;
        justify-content: center;
        position: relative;
        .c-avatar1{
            width: 70%;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                background-color: rgb(233, 93, 116);
                width: 108%;
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                z-index: -1;
            }
        }
        .c-arrow1{
            position: absolute;
            filter: invert(1);
            opacity: 0.8;
            z-index: -1;
            width: 80%;
            top: 50%;
            transform: translateY(-50%);
            left: -20%;
        }
    }
    .c-about1__right{
        width: 50%;
        .c-about1__desc{
            font-size: var(--large-size);
            text-align: justify;
        }
    }
}


.c-about1__links{
    margin-top: 25px;
    li{
        @include inline;
        color: var(--title-color);
        align-items: center;
        + li{
            margin-top: 8px;
        }
        span{
            font-size: var(--h4-font-size);
            margin-right: 9px;
            @include inline;
            align-items: center;
            justify-content: center;
            width: 24px;
            &.c-phone1{
                font-size: 1.9rem;
            }
        }
        p{
            font-size: var(--normal-size);
        }
    }
}

.c-about2{
    margin-top: 100px;
}
.c-about3{
    margin-top: 70px;
}
.c-about4{
    margin-top: 60px;
}
.c-about5{
    margin-top: 60px;
    @include inline;
    justify-content: space-between;
    .c-about5__left{
        width: 42%;
    }
    .c-about5__right{
        width: 54%;
        @include inline;
        justify-content: space-between;
    }
}

.c-about__title1{
    font-size: var(--h2-font-size);
    font-weight: 700;
    span{
        position: relative;
        color: var(--title-color);
        &::before{
            content: "";
            background-color: var(--primary-color);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            width: 110%;
            height: 35%;
            bottom: 4px;
        }
    }
}



.c-skill__list{
    margin-top: 15px;
    @include inline;
    flex-wrap: wrap;
    padding: 0 5%;
    gap: 15px 5%;
    li{
        @include inline;
        width: 30%;
        span{
            @include inline;
            align-items: center;
            color: var(--primary-color);
            font-size: 2.4rem;
                
        }
        p{
            font-size: 1.9rem;
            font-weight: 500;
            margin-left: 5px;
        }
    }
}


.c-app__list{
    @include inline;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    margin-top: 25px;
    li{
        width: 10%;
        span{
            img{

            }
        }
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6){
            width: 8%;
        }
    }
}

.c-works__list{
    margin-top: 40px;
    padding: 0 6%;
    > li{
        + li{
            margin-top: 25px;
        }
        @include inline;
        justify-content: space-between;
        .c-works__left{
            width: 42%;
            flex-shrink: 0;
            .c-works__role{
                color: var(--primary-color);
                font-weight: 700;
                font-size: 1.8rem;
                span{
                    font-size: 1.5rem;
                    color: var(--title-color);
                    font-style: italic;
                }
            }
            .c-works__time{
                font-size: 1.6rem;
                margin-top: 6px;
                background-color: var(--primary-color);
                color: var(--title-color);
                width: max-content;
                padding: 5px 6px 5px;
                letter-spacing: 1px;
                word-spacing: 3px;
                font-weight: 700;
            }
        }
        .c-works__right{
            flex: 1;
            padding-left: 25px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                background-color: var(--primary-color);
                width: 20px;
                height: 20px;
                border-radius: 50%;
                left: 0;
                transform: translateX(-50%);
                top: 2px;
            }
            &::after{
                content: "";
                position: absolute;
                background-color: var(--title-color);
                height: calc(100% - 20px);
                top: 21px;
                width: 4px;
                left: 0;
                transform: translateX(-50%);
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
                z-index: -1;
            }
            .c-works__company{
                @include inline;
                align-items: center;
                p{                    
                    font-size: 2rem;
                    color: var(--primary-color);
                    font-weight: 700;
                    font-style: italic;
                }
                a{
                    font-size: 1.6rem;
                    font-style: italic;
                    font-weight: 500;
                    margin-left: 20px;
                    border: 1px solid var(--title-color);
                    padding: 3px 9px;
                    border-radius: 16px;
                    @include inline;
                    gap: 7px;
                    @include trans1;
                    span{
                        align-items: center;
                        @include inline;
                    }
                    &:hover{
                        background-color: var(--title-color);
                        color: var(--bg-color);
                        span{
                            color: var(--bg-color);

                        }
                    }
                }
            }
            
        }
    }
}

.c-responsibilities__list{
    list-style-type: circle;
    margin-left: 20px;
    margin-top: 3px;
    li{
        font-size: var(--small-size);
        font-weight: 500;
    }
}

.c-others__list{
    margin-top: 15px;
    li{
        font-size: 1.6rem;
        font-weight: 700;
        .c-others__list2{
            list-style-type: circle;
            li{
                margin-left: 5%;
                font-style: italic;
                font-weight: 500;
                color: var(--text-color);
            }
        }
    }
}


.c-about5right__item{
    width: 45%;
}

.c-certificate__list{
    margin-top: 15px;
    li{
        + li{
            margin-top: 12px;
        }
        .c-cer__desc1{
            font-size: 1.6rem;
            font-weight: 700;
        }
        .c-cer__desc2{
            font-style: italic;
            
        }
        a.c-cer__desc2{
            span{
                font-size: 1.7rem;
                margin-left: 5px;
                transform: translateY(2px);
                display: inline-block;
            }
        }
    }
}